{% extends "base.html.twig" %}

{% block title %}
    Liste des messages
{% endblock %}

{% block body %}
    <h1 class="text-center w-100 h1-responsive"> Mes messages </h1>
    <hr>
    <a href = "{{ path('message_new')}}" class="btn btn-sm orange text-white"> Nouveau message </a>
    <hr>
    {% for message in messages %}
     {% if message.sender == app.user %}
        <div class="text-right w-100">
     {% else %}
        <div class="text-left">
     {% endif %}
     
        Envoyé(e) par : {{ message.sender.email}} <br>
        Message: {{ message.body}}<br> 
        <a class="btn btn-sm btn-dark float-right" href="{{ path('message_show_bis', { 'id' : message.id})}}">Voir le détail de mon message </a>
        <a class="btn btn-sm orange float-right" href="{{ path('message_edit', { 'id' : message.id})}}">Modifier </a> 
         <a class="btn btn-sm btn-danger float-right" href="{{ path('message_delete', { 'id' : message.id})}}">Supprimer </a> 
        <br><hr>
        {# Commentaire #}
    </div>
    {% endfor %}


{% endblock %}