{% extends "base.html.twig" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
   
        Envoyé(e) par : {{ message.sender.email}} <br>
        Message: {{ message.body}}<br> 
        LE SHOW
        {# Commentaire #}


{% endblock %}