{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    Mon user <a href="{{ path('user_profile_edit') }}"> Modifier profil </a>
    <br>
    {{ user.email }}<br>
    {{ user.firstname }}<br>
    {{ user.lastname }}<br>
    <br><br>

    Mes abonnements :<br>
    {% for u in user.subscription %}
        {{ u.id }} - {{ u.email}}
    {% endfor %}
    <br><br>
    Mes abonnés :<br>
    {% for u in user.userSubscribers %}
        {{ u.id }} - {{ u.email}}
    {% endfor %}
   
{% endblock %}
